@model CloudBreadAdminWeb.MemberGameInfoes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MemberGameInfoes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members.Name1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.Name1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSTAT1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSTAT1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSTAT2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSTAT2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSTAT3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSTAT3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSTAT4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSTAT4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSTAT5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSTAT5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSTAT6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSTAT6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSTAT7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSTAT7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSTAT8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSTAT8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSTAT9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSTAT9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSTAT10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSTAT10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HideYN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HideYN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteYN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteYN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFromRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFromRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFromRegionDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFromRegionDT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("수정", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("리스트", "Index")
</p>
