<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CloudBread 관리자 웹</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
   
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("홈", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("정보", "About", "Home")</li>
                    <li>@Html.ActionLink("연락처", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("멤버", "Index", "Members")</li>
                    <li>@Html.ActionLink("구매", "Index", "MemberItemPurchases")</li>
                    <li>@Html.ActionLink("아이템", "Index", "ItemLists")</li>
                    <li>@Html.ActionLink("멤버아이템", "Index", "MemberItems")</li>
                    <li>@Html.ActionLink("게임", "Index", "MemberGameInfoes")</li>
                    <li>@Html.ActionLink("스테이지", "Index", "MemberGameInfoStages")</li>
                    <li>@Html.ActionLink("선물관리", "Index", "GiftDepositories")</li>
                    <li>@Html.ActionLink("공지", "Index", "Notices")</li>
                    <li>@Html.ActionLink("이벤트", "Index", "GameEvents")</li>
                    <li>@Html.ActionLink("이벤트멤버", "Index", "GameEventMembers")</li>
                    <li>@Html.ActionLink("쿠폰", "Index", "Coupons")</li>
                    <li>@Html.ActionLink("쿠폰멤버", "Index", "CouponMembers")</li>
                    <li>@Html.ActionLink("멤버사용정지", "Index", "MemberAccountBlockLogs")</li>
                    <li>@Html.ActionLink("관리자", "Index", "AdminMembers")</li>
                    <li>@Html.ActionLink("서버정보", "Index", "ServerInfo")</li>
                </ul>
                <!-- 로그인 페이지 부분 표시-->
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["AdminID"] != null)
                    {
                        <li>@Html.ActionLink(Session["AdminID"] + "(" + Session["AdminTimeZone"] + ") | 로그아웃", "Logout", "AdminLogin")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("로그인", "Login", "AdminLogin")</li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    <div class="container body-content">
        <br />
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CloudBread 관리자웹</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
