@model CloudBreadAdminWeb.Members

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>정말 삭제 하시겠습니까?</h3>
<div>
    <h4>Members</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberPWD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberPWD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmedYN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmedYN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PINumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PINumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecommenderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecommenderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDeviceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDeviceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastIPaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastIPaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLoginDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLoginDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLogoutDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLogoutDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastMACAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastMACAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountBlockYN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountBlockYN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountBlockEndDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountBlockEndDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnonymousYN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnonymousYN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3rdAuthProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3rdAuthProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3rdAuthID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3rdAuthID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C3rdAuthParam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C3rdAuthParam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PushNotificationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PushNotificationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PushNotificationProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PushNotificationProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PushNotificationGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PushNotificationGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sCol10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sCol10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeZoneID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeZoneID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HideYN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HideYN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteYN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteYN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFromRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFromRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFromRegionDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFromRegionDT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="삭제" class="btn btn-default" /> |
            @Html.ActionLink("리스트", "Index")
        </div>
    }
</div>
